
nav{
    display: flex;
    ul{
        display: contents
    }
    li{
        display: contents;
    }
}
a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5 em
}
nav.current {
    border-bottom: 0.4em thick oklch(80% 3% 200);
    padding-bottom: 0.1em
}

h1{
    color: navy

    font: 100% system-ui;
    font-weight: bold;
}

body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    max-width: 75ch;
    margin-inline: 1em 1em; /* sets both start and end values */
    padding: 1em;

   }
   
img {
    max-width: 100%;
}